@import "tailwindcss";
@import "./dashkit.css";
@plugin "@tailwindcss/typography";
@import "@fontsource-variable/inter";

@theme {
  --font-sans: "Inter Variable", ui-sans-serif, system-ui, sans-serif;
}

@variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply antialiased text-base-950 bg-base-page dark:text-base-100 dark:bg-base-page-dark;
  }
}

@layer components {
  [data-rehype-pretty-code-figure] div {
    @apply bg-base-900! border-none! rounded-none!;
  }

  [data-rehype-pretty-code-figure] code {
    @apply grid min-w-full rounded-none!;
  }

  [data-rehype-pretty-code-figure] [data-line] {
    @apply rounded-none!;
  }
}

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@utility custom-scrollbar {
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    @apply bg-base-200 dark:bg-base-800 rounded-full;
  }
  &::-webkit-scrollbar-thumb:hover {
    @apply bg-base-300 dark:bg-base-700;
  }
}